.authWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFromText {
  text-align: center;
  margin-bottom: 50px;
}


.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;

  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4204);
  border-right: 3px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-bottom: 15px;

  &__inputWrapp {
    margin-bottom: 10px;

    .input {
      box-sizing: border-box;
      padding: 4px 11px;
      height: 35px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      transition: .3s;
      width: 100%;
    }

    .input:hover {
      transition: .3s;
      border: 1px solid #1890ff;
    }

    .input:focus {
      outline: none;
      border: 1px solid #1890ff;
      box-shadow: 0 0 0 2px rgba(73, 170, 255, 0.2);
    }

    .loginError {
      color: red;
    }
  }
}

.input_error {
  box-sizing: border-box;
  padding: 4px 11px;
  height: 35px;
  border: 1px solid red;
  border-radius: 4px;
  transition: .3s;
  width: 100%;
}

.input_error:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 0 2px rgba(219, 45, 45, 0.2);
}


.auth_success_block {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth_success_block svg {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}


